@model IEnumerable<JooksuvoistlusMVC.Models.RunnersData>

@{
    ViewBag.Title = "RunnersList";
}

<h2>All Runners List</h2>

<p>
    @Html.ActionLink("Register for Contest", "CreateRunner")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Break)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Break)
        </td>
        <td>
            @Html.ActionLink("Edit Runner", "EditRunner", new { id = item.Id }) |
            @Html.ActionLink("Remove", "RemoveRunner", new { id = item.Id })
        </td>
    </tr>
}

</table>
